

.gamesDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  grid-gap: 5px;
  margin: 20px 60px 0px 60px;  
  justify-items: left; 
  
}
.gamesDisplay img {
	height: auto; 
    width: auto; 
	max-width: 245px; 
	min-height: 30vh;
}

.gamesDisplay h1 {
	margin: 0px 0px 0px 0px; 
	min-height: 5vh;
}

.gamesDisplay > div {
	/*
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: #ffeead;
	*/
}

.gamesDisplay > div:nth-child(1n) {
	/*background-color: #96ceb4;*/	
  }
  
  .gamesDisplay > div:nth-child(3n) {
	/*background-color: #88d8b0;*/	
  }
  
  .gamesDisplay > div:nth-child(2n) {
	/*background-color: #ff6f69;*/	
  }
  
  .gamesDisplay > div:nth-child(4n) {
	/*background-color: #ffcc5c;*/	
  }
