<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./views/home/home.css" />
    <script src="./home.js"></script>
    <script src="./views/home/home.js"></script>
    <script src="../../scripts/jQuery.js"></script>
    <script src="../../main.js"></script>
</head>

<body>
    <div id="header"></div>

    <div class="gamesDisplay"></div>
  
    <div id="footer"></div>

    <script>
    // JQuery (makes is get all games from http://localhost:3000/games/)
    $(document).ready(() => {
        $.ajax({
            url: 'games/', //http://localhost:3000/games
            method: 'GET'
        })
        .done((data) => {// data is one json object containing an array of json objects
            let games = data.game; //array with game objects
        
            games.forEach((game) => {
                console.log(game);
                
                let title       = game.title;
                let year        = game.year;
                let description = game.description;
                let owner       = game.owner;
                let gameImage   = game.gameImage;
                let id          = game._id;

                const gameCard =    "<a href='/rent/?id=" + id + "'>" +
                                        "<div class='video-card'>" +
                                            "<h1>" + title + "</h1>" +
                                            "<img src='" + gameImage + "'>" +
                                            "<p> <b>Production Year:</b> " + year + "</p>" +
                                            "<p> <b>Owner:</b> " + owner + "</p>" +
                                            "<p> <b>description:</b></p>" +
                                            "<p> " + description + "</p>" +
                                        "</div>"  
                                    "</a>";

            $(".gamesDisplay").append(gameCard);  
            });
        });
    });
       
    </script>
</body>
</html>