<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./views/login/login.css" />
    <script src="../../scripts/jQuery.js"></script>
    <script src="../../main.js"></script>
</head>
<body>
    <div id="header"></div>

    <div class="container">
        <section id="content">
            <form class="login-form" action="/user/login" method="post">
                <h1>Login Form</h1>
                <div>
                    <input class="email" type="text" placeholder="Email" required="" id="email" />
                </div>
                <div>
                    <input class="password" type="password" placeholder="Password" required="" id="password" />
                </div>
                <div>
                    <input type="submit" value="Log in" />
                </div>
                <div class="alert-box"></div>
            </form><!-- form -->
        </section><!-- content -->
    </div><!-- container -->



    <div id="footer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.4/sweetalert2.all.min.js"></script>
    <script>        
        // JQuery
        $(document).ready(() => {
            console.log('Hello browser');
        });
    
        $("form").submit((event) => {
            event.preventDefault();
    
            const email     = $(".email").val();
            const password  = $(".password").val();
            
            console.log(email, password);
            
            // POST
            $.ajax({
                "url": "user/login/",
                "method": "POST",
                "data": {
                    email:      email,
                    password:   password
                }
            }).done(function(response) {
                console.log("response: ", response);
                //Swal("Your log-in was successful");
                window.location.href = "http://localhost:3000/";
            
            }).fail(function(response) {
                console.log("response: ", response);
                Swal("Error code: " + response.status + "\n\n" + response.responseJSON.message);
                //Swal("Your log-in failed! Please check if your email and password is correct. If you do not have a user yet. Then create one under the 'signup' tab.");
            });
        });
        setInterval(() => {
            // run the code here after each interval   
        }, 2000);
    </script>
</body>
</html>